<div class="box">
  <div class="content">
    <h2>mysql二进制转json工具</h2>
    <table>
      <tr>
        <td>地址</td>
        <td><input type="text" [(ngModel)]="ip"/></td>
      </tr>
      <tr>
        <td>账号</td>
        <td><input type="text" [(ngModel)]="userName"/></td>
      </tr>
      <tr>
        <td>密码</td>
         <td><input type="password" [(ngModel)]="password"/></td>
      </tr>
      <tr>
        <td>数据库</td>
         <td><input type="text" [(ngModel)]="databaseName"/></td>
      </tr>
    </table>
    <div class="error">{{errorMassage}}</div>
    <div>
      
      <button class="commit" *ngIf="!loginBtn" disabled>连接</button>
      <button class="commit" *ngIf="loginBtn" (click)="login()">连接</button>
      <button class="reset" (click)="reset()">清空</button>
    </div>

    <footer>
      <br/>
      <div>©2017 <a href="https://xiaomo.info" target="_blank">xiaomo</a>  &nbsp;&nbsp;
        项目开源地址: <a href="https://github.com/xiaomoinfo/MysqlBlobToJsonTool"  target="_blank">https://github.com/xiaomoinfo/MysqlBlobToJsonTool/</a></div>
    </footer>
  </div>
</div>