<div class="box">
  <div class="content">
    <h2>mysql二进制转json工具</h2>
    <table>
      <tr>
        <td>地址</td>
        <td><input type="text"/></td>
      </tr>
      <tr>
        <td>账号</td>
        <td><input type="text"/></td>
      </tr>
      <tr>
        <td>密码</td>
         <td><input type="password"/></td>
      </tr>
      <tr>
        <td>数据库</td>
         <td><input type="text"/></td>
      </tr>
    </table>
    <div>
      <button class="commit" (click)="login()">连接</button>
      <button class="reset">清空</button>
    </div>
  </div>
</div>